name: Build and Deploy Jekyll Site

on:
  push:
    branches:
      - main  # Set to your default branch
  pull_request:
    branches:
      - main  # Set to your default branch
  workflow_dispatch: # Allows manual triggering of the workflow
  schedule:
    - cron: '30 */2 * * *'  # Runs every 2 hours


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Clone Links repository
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/kellan/blogmarks.git blogmarks

    - name: Copy recent links data
      run: |
        mkdir -p _data
        cp blogmarks/_site/recent_links.json _data/recent_links.json

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'  # Set to the Ruby version you need

    - name: Build Jekyll site
      run: |
        gem install bundler
        bundle install
        bundle exec jekyll build

    - name: Copy links site
      run: |
        rsync -av blogmarks/_site/ _site/links/

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
        cname: laughingmeme.org
